---
import WeatherWidget from "../components/WeatherWidget.svelte";
const { VITE_PIRATEWEATHER_KEY, VITE_DEFAULT_LAT, VITE_DEFAULT_LON } = import.meta.env;
const apiRequestUrl = `https://api.pirateweather.net/forecast/${VITE_PIRATEWEATHER_KEY}/${VITE_DEFAULT_LAT}%2C${VITE_DEFAULT_LON}?exclude=minutely%2Cdaily&extend=true`;
const weatherData = await(await fetch(apiRequestUrl)).json();

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<WeatherWidget weatherData={weatherData}/>
	</body>
</html>
